.table, .thead, .tbody
	margin: 0
	padding: 0

.table
	font-family: monospace
	--background-color: #fff
	--color: #000

.thead
	box-sizing: border-box
	background-color: var(--background-color)
	z-index: 1
	text-align: right
	position: sticky
	top: 0

.tbody
	box-sizing: border-box
