.tr
	// display: grid
	// grid-gap: 0
	// justify-content: space-between
	// align-items: center
	// transition: all .2s
	min-height: .5em
	min-width: .5em

.th
	font-weight: bold
	// height: 1.5em

.ruler
	color: hsl(var(--color), 90%)
	text-align: center
	background-color: hsl(var(--color), 25%)

.td
	text-align: end

// .selected
// 	border: orange 1px solid !important

.th, .td, .ruler
	width: 100%
	padding: 0px .3em
	margin: 0
	box-sizing: border-box
	min-height: .5em
	min-width: .5em
	overflow: hidden
	// &:not(*:last-child)
	// 	border-right: 1px solid
	// 	border-color: hsl(var(--color), 80%)

.td
	padding: 2px .3em
	min-height: 1.5em
